* {
    overflow: hidden;
}

#quotebox {
    height: 150vh;
    width: 100%;
}

#quote-box {
    border-radius: 1em;
    background-color: white;
    justify-content: center;
    align-items: center;
    width: 550px;
    padding: 40px 20px;
    display: table;
    margin: auto;
}

#wrapper {
    position: absolute;
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#text {
    margin: 1em;
    text-align: center;
    font-size: 2em;
    font-family: "Segoe UI", sans serif;
}

#author {
    text-align: right;
    margin-right: 5em;
    font-family: "Segoe UI", sans serif;
}

.btn {
    width: 450px;
    margin: auto;
    display: flex;
    height: 38px;
    border: none;
    border-radius: 1px;
    font-size: 0.85em;
    padding: 8px 18px 6px 18px;
    margin-top: 30px;
    opacity: 1;
    cursor: pointer;
    color: white
}

#tweet-quote,
#tumblr-quote {
    float: left;
    color: white;
    padding: 0px;
    padding-top: 4px;
    text-align: center;
    font-size: 1.2em;
    margin-right: 5px;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    font-family: "Segoe UI", sans serif;
    border-radius: 10px;
}

#new-quote {
    float: right;
    padding: 0px;
    padding-top: 4px;
    font-size: 1.2em;
    margin-right: 5px;
    height: 45px;
    width: 150px;
    justify-content: center;
    align-items: center;
    font-family: "Segoe UI", sans serif;
    border-radius: 10px;
}